#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -16rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }
    .menu {
        width: 16rem;
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 18px;
        .active {
            background-color: #F6FBFF;
            border-left: 3px solid $blue;
            a {
                color: $blue !important;
            }
        }
        .sidebar-item {
            padding: 1rem 2rem;
            list-style: none;
            position: relative;
            .sidebar-link {
                color: #212529;
                text-decoration: none;
                i {
                    padding-right: 1rem;
                }
            }
        }
    }
}

#page-content-wrapper {
    min-width: 100vw;
    padding: 0 25px 0 25px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.avatar {
    img {
        border-radius: 25px;
        border: 2px solid white;
    }
}

.table{
    thead{
        background-color: $gray;
    }
}

.upload-logo {
    display: flex;
    flex-direction: column;
    p {
        float: left;
        font-size: 1.3rem;
        color: $blue;
    }
    .box {
        border: 1px dashed #CAD0E1;
        padding: 15px;
    }
}



@media (min-width: 992px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -16rem;
    }
}